:root {
  color-scheme: light;
}

body {
  padding: 20px;
  color: rgb(0, 0, 0);
  background: #fff;
  font: 100% system-ui;
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: #0033cc;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

th,
td {
  text-align: left;
  vertical-align: text-top;
  padding: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  body {
    color: #eee;
    background: #222730;
  }

  body a {
    color: #809fff;
  }
}
