body {
  padding: 20px;
  color: rgb(0, 0, 0);
  background: #fff;
  font: 100% system-ui;
  max-width: 600px;
  margin: 0 auto;
}
a {
  color: #0033cc;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  body a {
    color: #809fff;
  }
}
